* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 15%;}
.col-2 {width: 75%;}
.col-3 {width: 100%;}

@media screen and (min-width: 1200px) { /* For wider displays. */
    .name {
        font-size: 2.5em;
        width: 400px;
        height: 99px;
    }
    header {
        height: 100px;
    }
    a {
        font-size: 1.5em;
    }
    .section-title {
        font-size: 2.25em
    }
    #aboutme-img {
        height: 165px;
        width: 215px;
    }
    .text-box {
        font-size: 1em;
        line-height: 25px;
    }
    article {
        height: 68%;
    }
}

@media screen and (max-width: 768px) { /* For very small displays, not optimized for mobile. */
    header {
        height: 50px;
    }
    .name {
        height: 49px;
    }
    .text-box {
        line-height: 30px;
    }
}