body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/background.png");
    color: #777777;
}

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    line-height: 32px;
    position: relative;
    top: 100px;
    height: 700px;
}

.section-title {
    color: #4aaaa5;
    position: relative;
    top: 30px;
    left: 30px;
}

.text-box {
    position: relative;
    top: 60px;
    left: 30px;
    width: 910px;
}

#aboutme-img {
    float: left;
    padding-right: 20px;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.navbar {
    position: absolute;
    right: 200px;
    top: 30px;
}
