html {
    height: 100%;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/background.png");
    color: #777777;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    height: 1400px;
}

.contact-body {
    height: 800px;
}

.portfolio-body {
    height: 1400px;
}

.index-body {
    height: 900px;
}

.section-title,
.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.name {
    font-size: 2em;
    background-color: #4aaaa5;
    color: #ffffff;
    height: 100px;
    width: 325px;
    text-align: center;
    position: absolute;
    top: 0px;
}

header {
    position: absolute;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
    margin: 0 -99em;
    height: 100px;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-bottom-style: inset;
}

.head-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

a {
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25em;
}

nav {
    position: absolute;
    top: 30px;
    right: 0px;
}

.navlinks {
    padding-right: 10px;
    padding-left: 10px;
    border-right-color: #bbbbbb;
    border-right-width: 1px;
    border-right-style: inset
}

article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    line-height: 32px;
    position: relative;
    top: 130px;
    height: 550px;
    border-style: outset;
    border-width: 2px;
    border-color: #dddddd;
}

.section-title {
    color: #4aaaa5;
    position: relative;
    top: 30px;
    left: 30px;
    font-weight: bolder;
    font-size: 2em;
}

.text-box {
    position: relative;
    top: 35px;
    width: 875px;
}

#aboutme-img {
    float: left;
    padding-right: 20px;
}

.horizontal-line {
    height: 3px;
    width: 910px;
    background-color: #dddddd;
    position: relative;
    left: 30px;
    top: 30px;
}

footer {
    background-color: #666666;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 55px;
    /* margin: 0 -9999rem; */
    /* padding: 5px; */
    border-top: 8px solid #4aaaa5;
}

.copywright {
    position: relative;
    top: 20px;
    text-align: center;
    color: #dddddd;
}

.portfolio {
    height: 1100px;
}

.container-1 {
    float: left;
    position: relative;
    animation-name: imagefade;
    animation-duration: 1;
}

.container-2 {
    float: left;
    padding-left: 40px;
    position: relative;
}

.container-3 {
    float: left;
    position: relative;
    top: 20px;
}

.container-4 {
    float: left;
    padding-left: 40px;
    position: relative;
    top: 20px;
}

.container-5 {
    float: left;
    position: relative;
    top: 40px;
}

@keyframes imagefade { 
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.img1fade {
    animation-name: imagefade;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.img2fade {
    animation-name: imagefade;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

.img3fade {
    animation-name: imagefade;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

.img4fade {
    animation-name: imagefade;
    animation-duration: 4s;
    animation-timing-function: ease-in;
}

.img5fade {
    animation-name: imagefade;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}

.image-text {
    background-color: #4aaaa5;
    position: absolute;
    bottom: 40px;
    z-index: 1;
    width: 325px;
    text-align: center;
    color: #ffffff;
    font-size: 1.25em;
}

.submit-button {
    width: 125px;
    height: 35px;
    margin-top: 5px;
    padding: 5px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1.25em;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    box-shadow: 2px 3px #999;
}

.submit-button:active { /* To move button down 4px on y-axis when clicked */
    background-color: #3b8884;
    box-shadow: 1px 2px #666;
    transform: translateY(4px);
}

.submit-button span { /* Change the cursor to a pointer when hovering */
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 (I know, unecessary for this project...) */
}

.submit-button span:after { /* To insert two gt arrows after 'Submit' but not visible until hovering. */
    content: "\00bb"; 
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    -webkit-transition: 0.5s;
}

.submit-button:hover span { /* Move content to left to make room for arrows */
    padding-right: 20px;
}

.submit-button:hover span:after { /* Make arrows visible while hovering over button */
    opacity: 1;
    right: 0;
}

input[type=text] {
    width: 875px;
    padding-left: 10px;
    border: 1px solid #4aaaa5;
    border-radius: 4px;
    color: #ffffff;
    background-color: #4aaaa5;
}

::placeholder {
    color: #ffffff;
}

textarea {
    width: 875px;
    height: 175px;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid #4aaaa5;
    border-radius: 4px;
    color: #ffffff;
    background-color: #4aaaa5;
    resize: none;
}